body {
  background: lightyellow;
  font-size: 24px;
}
main{
 
}
h1 {
  text-align: center;
  margin:5px 0px -20px 0px;
}

nav {
  padding: 10px;
  background: transparent;
  margin:-25px;
 
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
  background: whitesmoke;
}
nav a {
  text-decoration: none;
  color: rosybrown;
  font-size: 16px;
  padding: 0 10px;
}

nav a:hover {
  color: tomato;
  border: 2px solid red;
  border-radius: 5px;
  background: white;
}

.ait-img {
  max-width: 50px;
  max-height: 50px;
}

.main-div1 {
  background: brown;
  color: black;
  height: 3rem;
  margin: -10px 10px 20px 15px;
  padding: 15px 5px;
  border: 4px solid tomato;
  border-bottom: 0px;
  border-radius: 50px;
}

.main-div1-sub {
  background: white;
  padding: 5px;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

.main-container{
  display: flex;
  padding-left:15px;
  background:lightgray;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 10px;
 border-right: 3px solid lightcyan;
 flex-direction: row-reverse;
 justify-content:flex-end
}
.main-container > div{
  background: transparent;
 height:300px;
 width:300px;
margin:5px;
border: 1px solid tomato;
}
div img{
  height:200px;
  width:200px;
  margin-bottom: 30px
}
div span{
 color: green;
  margin: 0px 80px;
  font-weight: bold
}
section{
  background-image:url('shoe1.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:7vh 5vh
}

.guidelines-p{
  color:red;
  display: inline-bock; 
  text-align: center; 
  width:100%;
  font-weight: bolder;
  
}


.column-div{
  columns: 3;
  text-align: justify
}
footer{
  width: 100%
}

.footer-container {
   
    display:block;
    align-items: center;
    background-color: blue;
    color: red;
  /* margin: 0 auto;*/
  }

  .foot {
    display: inline-block;
    color: yellow;
  }
  .link{
    display: inline-block;
    color: yellow;
    text-decoration: none;
  }