body {
  background: lightyellow;
  font-size: 24px;
}
main{
  
}
h1 {
  text-align: center;
  margin:5px 0px -20px 0px;
}

nav {
  padding: 10px;
  background: transparent;
  margin:-25px;
 
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
  background: whitesmoke;
}
nav a {
  text-decoration: none;
  color: rosybrown;
  font-size: 16px;
  padding: 0 10px;
}

nav a:hover {
  color: tomato;
  border: 2px solid red;
  border-radius: 5px;
  background: white;
}

.ait-img {
  max-width: 50px;
  max-height: 50px;
}

.main-div1 {
  background: brown;
  color: black;
  height: 3rem;
  margin: -10px 10px 20px 15px;
  padding: 15px 5px;
  border: 4px solid tomato;
  border-bottom: 0px;
  border-radius: 50px;
}

.main-div1-sub {
  background: white;
  padding: 5px;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

.main-container{
  display: flex;
  padding-left:15px;
  background:lightgray;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  
}

.main-container > div{
  background: transparent;
 height:300px;
 width:300px;
margin:5px;
border: 1px solid tomato;
}
div img{
  height:200px;
  width:200px;
  margin-bottom: 30px
}
div span{
 color: green;
  margin: 0px 80px;
  font-weight: bold
}